header {
    width: 100%;
    display: flex;
    justify-content: space-around;

    border-bottom: 1px solid #1A237E;

    padding: 20px 0;
}

a {
    text-decoration: none;
    color: #7986CB;
}

a.active {
    color: #283593;
}