.main__page {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

form {
  width: 50%;

  margin-top: 30px;
}

.children__form {
  margin-bottom: 30px;
}

.form__header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.add-btn {
  background: #fff;
  position: relative;

  border: 2px solid #01a7fd;
  box-sizing: border-box;
  border-radius: 100px;

  padding: 10px 20px 10px 48px;

  color: #01a7fd;

  cursor: pointer;
  transition: box-shadow 0.3s;
}

.add-btn:not(:disabled):hover, .save-btn:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.add-btn::before {
  content: "";
  position: absolute;

  width: 24px;
  height: 24px;

  left: 18px;
  top: 50%;
  transform: translate(0, -50%);

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.13332 10.8556C4.50125 10.8555 3.98887 11.3679 3.98887 12C3.98887 12.6321 4.50126 13.1445 5.13332 13.1445L10.8554 13.1445L10.8554 18.8668C10.8554 19.4989 11.3678 20.0113 11.9999 20.0113C12.632 20.0113 13.1444 19.4989 13.1444 18.8668L13.1443 13.1445L18.8667 13.1445C19.4988 13.1445 20.0112 12.6321 20.0112 12C20.0112 11.3679 19.4988 10.8556 18.8667 10.8556L13.1443 10.8556L13.1443 5.13338C13.1443 4.50132 12.632 3.98893 11.9999 3.98893C11.3678 3.98893 10.8554 4.50131 10.8554 5.13338L10.8554 10.8556L5.13332 10.8556Z' fill='%2301A7FD'/%3E%3C/svg%3E");
}

.add-btn:disabled {
  border-color: #9e9e9e;
  color: #9e9e9e;
}

.add-btn:disabled::before {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.13332 10.8556C4.50125 10.8555 3.98887 11.3679 3.98887 12C3.98887 12.6321 4.50126 13.1445 5.13332 13.1445L10.8554 13.1445L10.8554 18.8668C10.8554 19.4989 11.3678 20.0113 11.9999 20.0113C12.632 20.0113 13.1444 19.4989 13.1444 18.8668L13.1443 13.1445L18.8667 13.1445C19.4988 13.1445 20.0112 12.6321 20.0112 12C20.0112 11.3679 19.4988 10.8556 18.8667 10.8556L13.1443 10.8556L13.1443 5.13338C13.1443 4.50132 12.632 3.98893 11.9999 3.98893C11.3678 3.98893 10.8554 4.50131 10.8554 5.13338L10.8554 10.8556L5.13332 10.8556Z' fill='%239E9E9E'/%3E%3C/svg%3E%0A");
}

.save-btn {
  margin-top: 30px;

  background: #01a7fd;
  border-radius: 100px;
  border: none;

  padding: 10px 20px;
  color: #ffffff;

  cursor: pointer;
  transition: box-shadow 0.3s;
}
